#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
/* App.css */

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-start; /* Align components to the left */
  align-items: flex-start;
  padding: 20px;
}

.container > div {
  margin: 0 10px;
}

/* Adjust DateComponent and Form widths */
.container > :first-child {
  flex-basis: 40%; /* DateComponent takes 40% of the space */
  margin-right: 20px; /* Add some space between DateComponent and Form */
}

.container > :nth-child(2) {
  flex-basis: 60%; /* Form takes 60% of the space */
}

/* Centering TotalEarnings component */
.earnings-container {
  display: flex;
  justify-content: center; /* Centers the TotalEarnings horizontally */
  margin-top: 20px; /* Adds some space above TotalEarnings */
}

/* Optional: Styling for the TotalEarnings component */
.earnings-container h1 {
  font-size: 24px;
  color: #333;
}
